/*=========*/
/* 網頁    */
/*=========*/
html,
body {
    background-color: #9f9797;
    margin-top: 10px;
}

/*=========*/
/* 導覽列  */
/*=========*/
.bg-light {
    background-color: #c2d48c !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #798139;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #5c721c;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #636c72;
    cursor: not-allowed;
    background-color: transparent;
}

/*==========*/
/* 內容區塊 */
/*==========*/
.container {
    background-color: #e7f4c3;
    padding: 0;
}

.myContent {
    padding: 20px;
}

.myTitle {
    margin-bottom: 20px;
    border-left: 5px solid #5c721c;
    padding-left: 10px;
}

/*==========*/
/* 卡片     */
/*==========*/
.card {
    box-shadow: 0 0 5px 0 #aaa;
}

.myCardText {
    padding: 10px;
}

.card:hover {
    opacity: 0.8;
}


.qty {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
  }
  
  
  input.qtyplus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
  }
  
  input.qtyminus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
  }

/*==========*/
/* 評價     */
/*==========*/

  ul {
    margin: 0;
    padding: 0;
}
.star-mark {
   position: relative;
   font-size: 12px;
   width: 700px;
   margin: 10px auto;
   color: #999;
}
.star-mark .star {
   display: inline-block;
   margin-left: 10px;
   list-style: none;
   vertical-align: middle;
}
.star-mark .star li {
   float: left;
   width: 24px;
   height: 19px;
   background: url(https://pandoraui.github.io/learning-javascript/lesson4/img/star.png) no-repeat;
}
.star-mark .star li.light {
   background-position: 0 -28px;
}
.star-mark .result {
   display: inline-block;
   margin-left: 10px;
}
.star-mark .result .mark {
   font-weight: 700;
   color: #f00;
}
.star-mark .help-info {
   display: none;
   position: absolute;
   top: 20px;
   width: 159px;
   height: 60px;
   padding: 7px 10px 0;
   line-height: 1.5;
   background: url(https://pandoraui.github.io/learning-javascript/lesson4/img/icon.gif) no-repeat;
}
.star-mark .help-info .mark,.decri {
   color: #f00;
}