@charset "utf-8";

html{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}

body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

div.SIDE {
    width: 500px; /* <div> 要設定寬度，才能配合 float 做水平靠左或靠右排列 */
    float: left; /* 使用 float 讓這個 <div> 做水平靠左排列 */
}

.myTitle{
    font-size: 35px;
    padding: 10px;
    border-bottom: 1px solid #e5dbd8;
}

/* 左測 */
.section{ 
    text-align: center;
	width: 550px;
	height: 500px;
	float: left;
    background-color: #fff;
    opacity: 0.8;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    margin-top: -60px;
    margin-left: 0px;
    padding-left: 50px;
    padding-right: 50px;
    
}
/* 右測 */
.aside{
    text-align: center;
	width: 550px;
	height: 500px;
	float: right;
    background-color: #fff;
    opacity: 0.8;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    margin-top: -60px;
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;

}

.btn{
    font-size: 18px;
    background: transparent; /* 清除背景色 */
    cursor: pointer;  /* 改變滑鼠游標樣式 */
    text-decoration: none;
    display: inline-block; 
    border: 2px solid #e5dbd8;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    color: rgb(23, 133, 23);
}

.btn:hover{
    display: block;
    background-color: #ef5c28;
    color: #fff;
} 

.content form .enter{
    display: inline-block;
    margin: 20px 0 12px 0;
    width: 100%;

}

form .enter .input-box{
    margin-bottom: 50px;
    width: 100%; /* calc(100% / 2 - 20px) */
}

form .input-box span.details{
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight:bold
}

/* 輸入格樣式 */
.enter .input-box input , .verify .input-box input{
    height: 45px;
    width: 95%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .button{
    height: 45px;
    margin: 35px 0
}

form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-weight:bold
}

form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.button-container{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px auto 0;
}

.backhomebtn {
    display: inline-block;
    border-radius: 4px;
    /* background: linear-gradient(-135deg, #71b7e6, #9b59b6); */
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 13px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    top: -30px;
    left: 70px;
    z-index: 99;
}

.backhomebtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    opacity: 0.8;
}

.backhomebtn span:after {
    content: '\00bb';
    position: absolute;
    top: 0;
    right: -20px;
    transition: 0.5s;
    opacity: 0.9;
}

.backhomebtn:hover span {
    padding-right: 10px;
    opacity: 0.9;
}
  
.backhomebtn:hover span:after {
    opacity: 1;
    right: 0;
}

.neglectbutton {
    background: transparent; /* 清除背景色 */
    display: inline-block;
    border: none;
    color: red;
    text-align: center;
    font-size: 15px;
    padding: 13px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    z-index:100; /*元素重疊顯示在最上層*/
    position: relative;
    left: -900px;
    top: -380px;
    
}

.neglectbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    opacity: 0.8;
    z-index:100;
}

.neglectbutton span:after {
    content: '\00bb';
    position: absolute;
    top: 0;
    right: -20px;
    transition: 0.5s;
    opacity: 0.9;
    z-index:100;
}

.neglectbutton:hover span {
    padding-right: 10px;
    opacity: 0.9;
    z-index:100;
}
  
.neglectbutton:hover span:after {
    opacity: 1;
    right: 0;
    z-index:100;
}