* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold
}

.title {
  text-align: center;
  top: 6px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color:#fff3bc;
}

/* 標題方框 */
.container-wrapper {
  position: relative; /* 設置父容器為相對定位 */
  color:#e8a95b;
}

.container1{
  font-weight: bold;
  background-color: #f9e99e;
  border-radius: 20px;
  width: 750px;
  max-width: 750px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.insidebox{
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 20px;
  width: 700px;
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 253px;
  height: 50px;
  border: 3px solid #acce79;
  background-color: #acce79;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

label {   /*密碼文字*/
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: bold;
}

label[id="boss_identity"]{
  position: absolute;
  top: 155px; 
  left: 270px;
}

label[id="newPassword"]{
  position: absolute;
  top: 260px; 
  left: 265px;
}
label[id="confirmNewPassword"]{
  position: absolute;
  top: 370px; 
  left: 270px;
}

input[type="password"] {
  top: 10px;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  transition: all 0.3s ease;
}

input[placeholder] {
  font-weight: bold;
}

.logout {
  position: absolute;
  top: 60px;
  left: 65px;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 40px;
  border: 3px solid #ecad83;
  background-color: #ecad83;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.logout div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
}

.logout img {
  margin-right: 3px;
}

.logout:hover {
  border: 4px solid #b55f45;
  color: white;
  width: 70px;
  height: 45px;
  cursor: pointer;
}

.submit {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;
  border: 3px solid #8cb87c;
  background-color: #8cb87c;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #5b7751;
}

.submit div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
}

.submit:hover {
  border: 3px solid #5b7751;
  color: #394c32;
  cursor: pointer;
}