body {
  font-family: 'Poppins', sans-serif;
  background: #fff3bc; 
  text-align: center;
  padding: 20px;
}

body::-webkit-scrollbar {
  display: none;
}

/* h1 {
  color: #333;
} */

form {
  /* max-width: 400px; */
  position: relative;
  top: 180px; 
  left: 0px;
  width: 700px;
	height: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
}

label {   /*密碼文字*/
  display: block;
  text-align: left;
  margin-bottom: 5px;
  /* margin-top: 15px; */
  padding-top: 10px;
  font-weight: bold;
}

label[id="oldPassword"]{
  position: absolute;
  top: 25px; 
  left: 30px;
}

label[id="newPassword"]{
  position: absolute;
  top: 140px; 
  left: 30px;
}
label[id="confirmNewPassword"]{
  position: absolute;
  top: 255px; 
  left: 30px;
}

input[type="password"] {
  width: 70%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 15px;
  transition: all 0.3s ease;

}

input[placeholder] {
  font-weight: bold;
}

input[type="submit"] {
  background-color: #8cb87c;
  color: #5b7751;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-bottom: 2px;
  width: 400px;
  transition: all 0.5s;
  width: 120px;
  height: 40px;
  border: 3px solid #8cb87c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 270px;
}

input[type="submit"]:hover {
  border: 3px solid #5b7751;
  color: #394c32;
  cursor: pointer;
}

/* 確定的方框 */
.submit {
  position: absolute;
  /* 設置為絕對定位 */
  bottom: -7px;
  /* 距離視窗上方的位置 */
  left: 50%;
  /* 距離視窗左側的位置 */
  transform: translate(-50%, -50%);
  /* 將容器水平垂直居中 */
  width: 100px;
  height: 40px;
  border: 3px solid #8cb87c;
  background-color: #8cb87c;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #5b7751;
}

/* .submit div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
} */

.caption{
  border-radius: 30px;
  text-align: center;
  width: 200px;
  height: 60px;
  background-color: #acce79;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  top: 50px;
  left: 620px;
  z-index: 99;
}

.myTitle{
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: 100;
}

@media (max-width: 1024px) {
  .myTitle{
    position: relative;
    top: -30px;
    left: -140px;
  }

  .caption{
    position: absolute;
    top: 60px;
    left: 380px;
  }
}

.caption span{
  color: #35522b;
  text-align: justify;
  position: absolute;
  top: -4px;
  left: 60px;
  z-index: 100;
  font-size: 300%;
  font-weight: bold;
}

/* 返回的方框 */
.logout {
  position: absolute;
  top: 80px;
  left: 80px;
  transform: translate(-50%, -50%);
  /* 將容器水平垂直居中 */
  width: 80px;
  height: 50px;
  border: 3px solid #ecad83;
  background-color: #ecad83;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.logout div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31);
}

.logout img {
  margin-right: 3px;
  /* 調整圖片和文字之間的間距 */
}

.logout:hover {
  border: 4px solid #b55f45;
  color: white;
  width: 70px;
  height: 45px;
  cursor: pointer;
}