*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  font-weight:bold
}
.title {
  text-align: center;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
/*   background: linear-gradient(135deg, #e68871, #88ba80); */
  background-color:#fff3bc;
}

/* 標題方框 */
.container-wrapper {
  position: relative; /* 設置父容器為相對定位 */
}

.container1{
  font-weight: bold;
  background-color: #fff3bc;
  width: 100vw;
  max-width: 1200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#35522b;
}

.left-button, .right-button {
  position: absolute; /* 設置按鈕為絕對定位 */
  width: 100px;
  height: 40px;
  background-color: #ccc;
  border: 1px solid #999;
  top: 50%; /* 將按鈕垂直居中 */
  transform: translateY(-50%);
}
.left-button {
  left: 0; /* 左邊按鈕定位在左側 */
}
.right-button {
  right: 0; /* 右邊按鈕定位在右側 */
}

.title {
  position: absolute; /* 設置為絕對定位 */
  top: 18%; /* 距離視窗上方的位置 */
  left: 50%; /* 距離視窗左側的位置 */
  transform: translate(-50%, -50%); /* 將容器水平垂直居中 */
  width: 300px;
  height: 50px;
  border: 3px solid #acce79;
  background-color:#acce79;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.title div {
  display: flex;
  align-items: center;
  color: #35522b;
}
.title img {
  margin-right: 15px; /* 調整圖片和文字之間的間距 */
  margin-bottom: 15px;
}

/* 哪位老闆登入的方框 */
.who {
  position: absolute; /* 設置為絕對定位 */
  top: 60px; /* 距離視窗上方的位置 */
  right: 10px; /* 距離視窗右側的位置 */
  transform: translate(-50%, -50%); /* 將容器水平垂直居中 */
  width: 200px;
  height: 50px;
  border: 1px solid #8cb87c;
  background-color:#ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.who div {
  display: flex;
  align-items: center;
  color: #000000;
}
.who img {
  margin-right: 3px; /* 調整圖片和文字之間的間距 */
  margin-bottom: 15px;
}


/* 返回的方框 */
.logout {
  position: absolute; /* 設置為絕對定位 */
  top: 23px; /* 距離視窗上方的位置 */
  left: 65px; /* 距離視窗左側的位置 */
  transform: translate(-50%, -50%); /* 將容器水平垂直居中 */
  width: 50px;
  height: 30px;
  border: 3px solid #ecad83;
  background-color:#ecad83;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.logout div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
}
.logout img {
  margin-right: 3px; /* 調整圖片和文字之間的間距 */
}
/* 返回懸停样式 */
.logout:hover {
  border: 4px solid #b55f45;
  color: white;
  width: 60px;
  height: 40px;
  cursor: pointer;
}

/* 確定的方框 */
.addstore {
  position: absolute; /* 設置為絕對定位 */
  bottom: 75px; /* 距離視窗上方的位置 */
  left: 50%; /* 距離視窗左側的位置 */
  transform: translate(-50%, -50%); /* 將容器水平垂直居中 */
  width: 63px;
  height: 40px;
  border: 3px solid #f3cc5f;
  background-color:#f3cc5f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #914d39;
}
.addstore div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
}
.addstore img {
  margin-right: 3px; /* 調整圖片和文字之間的間距 */
}
/* 確定懸停样式 */
.addstore:hover {
  border: 3px solid #a3893f;
  color: #d36a09;
  cursor: pointer;
}
/* .content .button1{
  width:500px;
  height:100px;
  font-size:20px;
  border:2px blue none;
}
 */
 .input-box {
  display: flex; /* 使用flexbox對齊行中的元素 */
  align-items: center; /* .input-box 內的元素垂直居中 */
  margin-top: 8px;
} 

 .input-box input{
  height: 25px;
  width: 250px;
  outline: none;
  font-size: 16px;
  border-radius: 15px;
  padding-left: 15px;
  border: 1px solid #8cb87c;
  margin-bottom: 5px;
  /* display: inline-block; */ /* 設定為內聯區塊元素 */
}
.input-box select{
  height: 25px;
  width: 123px;
  outline: none;
  font-size: 16px;
  border-radius: 15px;
  padding-left: 15px;
  border: 1px solid #8cb87c;
  margin-bottom: 5px;
 /*  display: inline-block; */ /* 設定為內聯區塊元素 */
}

form .input-box span.details{
  display: inline-block; /* 將顯示更改為 inline-block 以位於同一行 */
  font-weight: 500;
  margin-right: 10px; /*添加一些右邊距以增加間距  */
  font-weight: bold;
}