@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #EBEBFF;
    opacity: 1;
    margin-top: none;
}

/* ------------------- */
/* container           */
/* ------------------- */
div.container {
    width: 900px;
}

/* ------------------- */
/* content             */
/* ------------------- */
div.content {
    color: #000;
    /* padding:上 右 下 左; */
    padding: 150px 30px;
    text-align: center;
}

/* ------------------- */
/* 按鈕                */
/* ------------------- */
input {
    border: 0;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold
}


input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* ------------------- */
/* 分區塊               */
/* ------------------- */
.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}



/* ------------------- */
/* 導覽頁               */
/* ------------------- */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.main-header {
    opacity: 0.8;
    background-color: #9278C5;
}

.container {
    margin: auto;
    display: flex;
}

.main-menu {
    display: flex;
    font-size: 16px;
}

.main-menu li {
    position: relative;
    transition: .5s;
}

/* ------------------- */
/* button             */
/* ------------------- */
.shape-ex1 {
    font-weight: bold;
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: none;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s linear;
}

/* 游標在那邊有陰影 */
.shape-ex1:hover {
    background-color: #876DBC;
}