*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  font-weight:bold
}
.title {
  text-align: center;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
/*   background: linear-gradient(135deg, #e68871, #88ba80); */
  background-color:#fff3bc;
}

/* 標題方框 */
.container-wrapper {
  position: relative; /* 設置父容器為相對定位 */
}

.container1{
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #acce79;
  width: 300px;
  max-width: 750px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#35522b;
  border-radius: 50px;
}
/*===========
    店家
=============*/
.intostore{
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #acce79;
  width: 300px;
  max-width: 750px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#35522b;
  border-radius: 50px;
  cursor: pointer;
}
.intostore:hover{
  font-weight: bold;
  background-color: #ffffff;
  border: 5px solid #acce79;
  width: 300px;
  max-width: 750px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#35522b;
  border-radius: 50px;
  cursor: pointer;
}
/*============= 
    整個底
===============*/
.left-button, .right-button {
  position: absolute; 
  width: 100px;
  height: 40px;
  background-color: #ccc;
  border: 1px solid #999;
  top: 50%; 
  transform: translateY(-50%);
}
.left-button {
  left: 0; 
}
.right-button {
  right: 0; 
}
/*============= 
    整個底
===============*/
.title {
  position: absolute; 
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 300px;
  height: 50px;
  border: 3px solid #acce79;
  background-color:#acce79;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.title div {
  display: flex;
  align-items: center;
  color: #35522b;
}
.title img {
  margin-right: 15px; 
  margin-bottom: 15px;
}
/*============= 
    哪位老闆登入
===============*/
.who {
  position: absolute; 
  top: 60px; 
  right: 10px; 
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  border: 1px solid #8cb87c;
  background-color:#ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.who div {
  display: flex;
  align-items: center;
  color: #000000;
}
.who img {
  margin-right: 3px; 
  margin-bottom: 15px;
}


/*===========
  返回的方框
 ===========*/
 .logout {
  position: absolute;
  top: 60px;
  left: 65px;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 40px;
  border: 3px solid #ecad83;
  background-color: #ecad83;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.logout div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
}
.logout img {
  margin-right: 3px;
}
.logout:hover {
  border: 4px solid #b55f45;
  color: white;
  width: 70px;
  height: 45px;
  cursor: pointer;
}

/*============= 
    新增店家
===============*/
.addstore {
  position: absolute; 
  bottom: 15px; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 250px;
  height: 65px;
  border: 3px solid #f3cc5f;
  background-color:#f3cc5f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addstore div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
}
.addstore img {
  margin-right: 3px; 
}
.addstore:hover {
  border: 3px solid #a3893f;
  color: white;
  cursor: pointer;
}

/*============= 
    整個底
===============*/
 nav#menu-container {
  background:#fff3bc;
  position:relative;
  width:1280px;
  height: 300px;
  margin-top: 35px;
}
/*============= 
    左右按鈕
===============*/
#btn-nav-previous {
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 0px;
  padding: 110px 5px;
  background: #ecad83;
  height: 260px;
}
#btn-nav-next {
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0px;
  padding: 110px 5px;
  background: #ecad83;
  height: 260px;
}
/*============= 
  店家按鈕底框
===============*/
.menu-inner-box
{ 
  width: 95%;
  white-space: nowrap;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px 54px;
  box-sizing: border-box;
  background: #fff3bc;
  width:1200px;
  height: 300px;
}
.menu
{  
  padding:0;
  margin: 0;
  list-style-type: none;
  display:block;
  text-align: center;
}

/*============= 
    店家樣式
===============*/
a.menu-item
{
  transform: translateY(-50%);
/*   height:100%; */
  padding: 100px 100px;
  background-color:#ffffff;
  display:inline;
  margin:0 auto;
  line-height:270px;
  text-decoration:none;
  text-align:center;
  white-space:no-wrap;
  color: #000000;
  border-radius: 20px;
  font-size: 25px;
  border:2px solid #8cb87c;
}
.menu-item:hover {
  text-decoration:underline;
  border: 5px solid #8cb87c;
  border-radius: 20px;
}

@media only screen and (max-width: 480px) {
#btn-nav-previous {
  display:none;
}
#btn-nav-next {
  display:none;
}
  .menu-inner-box
  { 
      width:100%;
      overflow-x:auto;
  }
}