*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  font-weight:bold
}
.title {
  text-align: center;
  top:6px;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
/*   background: linear-gradient(135deg, #e68871, #88ba80); */
  background-color:#fff3bc;
}
.container-wrapper {
  position: relative; 
}
/* =================
背景與白色中間那塊黃色
====================*/
.container1{
  font-weight: bold;
  background-color: #f9e99e;
  border-radius: 20px;
  width: 750px;
  max-width: 750px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* =================
背景與白色中間那塊白色
====================*/
.insidebox{
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 20px;
  width: 700px;
  height: 319px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========
    標題?
==========*/
.content2 {
  height: 40px;
  width: 450px;
  text-align: center;
  font-size: 25px;
  margin-top: -10px;
  border-radius: 20px;
  color: #000000;
  background-color: #ffffff;
}
.content1,
.content3,
.content4 {
  height: 40px;
  width: 120px;
  text-align: center;
  font-size: 25px;
  margin-top: -10px;
  border-radius: 20px;
  color: #000000;
  background-color: #ffffff;
}

/*=========
   標題底?
==========*/
nav{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  background: rgb(255, 255, 255);
  position: sticky;
  top:0px;
  color: #000000;
  font-size: large;
  display : flex ;
  width: 670px;
}

/* ==========
  輸入框的底框
=============*/
.ininsidebox{
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 20px;
  width: 680px;
  height: 300px;
  display: flex;
  align-items: stretch;/*至頂*/
  flex-wrap: wrap;
  justify-content: center;
}

/* ==========
  輸入類型的框
=============*/
.topinput input{
  height: 33px;
  width: 250px;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  padding-left: 15px;
  border: 1px solid #bf6900;
  margin-bottom: 3px;
}

/* ==========
    輸入框
=============*/
.content .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.input-box {
  display: flex;
  flex-direction: column;/* center */
  align-items: flex-start;/* center */
  margin-top: 8px;
}
.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
/*  .input-box {
  display: flex; 
  align-items: center; 
  margin-top: 8px;
}  */
.input-box input,
.input-box select,
.input-box textarea {
  height: 33px;
  width: 250px;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  padding-left: 15px;
  border: 1px solid #000000;
  margin-bottom: 3px;
}
form .input-box span.details{
   /* 將顯示更改為 inline-block 以位於同一行 */
  /* display: inline-block;
  font-weight: 500; */
  /*添加一些右邊距以增加間距  */
  /* margin-right: 3px; 
  margin-bottom: 3px;
  font-weight: bold; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

/* ==========
  確定的按鈕
=============*/
.submit {
  position: absolute; /* 設置為絕對定位 */
  top: 65px; 
  right: 10%; 
  transform: translate(-50%, -50%); 
  width: 70px;
  height: 37px;
  border: 3px solid #8cb87c;
  background-color:#8cb87c;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #5b7751;
}
.submit div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
}
.submit:hover {
  border: 3px solid #5b7751;
  color: #394c32;
  cursor: pointer;
}
/*===========
  返回的方框
 ===========*/
 .logout {
  position: absolute;
  top: 60px;
  left: 65px;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 40px;
  border: 3px solid #ecad83;
  background-color: #ecad83;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.logout div {
  display: flex;
  align-items: center;
  color: rgb(116, 65, 31)
}
.logout img {
  margin-right: 3px;
}
.logout:hover {
  border: 4px solid #b55f45;
  color: white;
  width: 70px;
  height: 45px;
  cursor: pointer;
}
/*===========
 下一步的按鈕
============ */
.nextstep {
  position: absolute; /* 設置為絕對定位 */
  bottom: -13px; 
  left: 91%; 
  transform: translate(-50%, -50%); 
  width: 90px;
  height: 37px;
  border: 3px solid #d4bb4a;
  background-color:#d4bb4a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #99883e;
}
.nextstep div {
  display: flex;
  align-items: center;
  color: #d4bb4a;
}
.nextstep img {
  margin-right: 3px; 
}
.nextstep:hover {
  border: 3px solid #99883e;
  color: #857737;
  cursor: pointer;
}