@charset "utf-8";

html{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-weight: bold
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff3bc;
}

.myTitle{
    position: absolute;
    top: -10px;
    left: -70px;
    z-index: 100;
}

.col-md-5 span{
    color: green;
    position: absolute;
    top: -4px;
    left: -120px;
    z-index: 100;
    font-size: 300%;
}
  
.caption{
    border-radius: 30px;
    text-align: center;
    width: 300px;
    height: 60px;
    background-color: lightgreen;
    opacity: 0.8;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    top: 20px;
    left: 620px;
    z-index: 99;
}

.container {
    background-color: #fff;
    opacity: 0.8;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    border-radius: 30px;
    margin-top: 80px;
    padding-top: 40px;
}

div.row{
    padding: 15px;
    margin: -10px;
}
span{
    font-size: 36px;
    font-weight: bold;
    position: relative;
    left: 450px;
}

.card {
    box-shadow: 0 0 5px 0 #aaa;
    padding: 5px;
    margin: 5px;

}

/* 輸入格樣式 */
input[type="text"] , div.col-md-12.select{
    margin-left: 5px;
    height: 45px;
    width: 15%;
    outline: none;
    font-size: 16px;
    border-radius: 15px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

input[placeholder]{
    font-weight: bold;
}

.section{
    text-align: center;
}

label{ 
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    font-weight: bold
}

input[name="createOrder"] {
    height: 45%;
    width: 10%;
    border-radius: 15px;
    border: none;
    color: green;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: lightgreen;
    font-weight: bold;
    margin-left: 35px;
    padding: 5px;
}


input[name="return"] {
    background: transparent;
    display: inline-block;
    border: none;
    color: #ef5c28;
    text-align: center;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    top: -545px;
    left: -180px;
    font-weight: bold;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    background-color: lightsalmon;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    padding-left: 25px;
    z-index: 99;
  }

img[src="../images/arrow.png"]{
    position: absolute;
    top: -525px;
    left: -150px;
    z-index: 99;
}

/* div.col-md-12.select{
    display: inline-block;
    width: 300px;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 1px solid #aaa;
    text-shadow: none;
    border-radius: 4px;
    transition: box-shadow 0.25s ease;
    z-index: 2;
}
div.col-md-12.select:hover{
    box-shadow: 01px 4px rgba(0,0,0,0.15)
}
div.col-md-12.select:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}
div.col-md-12.select select{
cursor: pointer;
padding: 10px;
width: 100%;
border: none;
background: transparent;
background-image: none;
-webkit-appearance: none;
-moz-appearance: none;
}
div.col-md-12.select select:focus{
outline: none;
} */